################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/hebcal/hebcal/obj
/hebcal/hebcal/bin
/hebcal/hebcal/publish
